body {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url('/BG_Website.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
}

.icons {
    margin-top: 20px;
}

.icons a {
    margin: 0 10px;
    text-decoration: none;
}

.icons img {
    width: 50px; /* Adjust the size of your icons */
    height: 50px;
}
